 source /Users/sam/myenv/bin/activate
EVENT_URL=https://fixr.co/organiser/timepiece
EVENT_DATA_URL=https://fixr.co/_next/data/f560c3d2/organiser/timepiece.json
READER_BASE_URL=https://r.jina.ai/http://r.jina.ai/http://
STATE_FILE=src/state.json

EMAIL_TO=taylorsam809@gmail.com
EMAIL_FROM=taylorsam809@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=taylorsam809@gmail.com
SMTP_PASS=hqon yqby hegl wqny

POLL_INTERVAL_MS=30000
