EVENT_URL=https://fixr.co/organiser/timepiece
EVENT_DATA_URL=https://fixr.co/_next/data/f560c3d2/organiser/timepiece.json
STATE_FILE=src/state.json

EMAIL_TO=person@example.com,friend@example.com
EMAIL_FROM=alerts@example.com
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=alerts@example.com
SMTP_PASS=replace-me
